


@media only screen and (max-width: 768px) {
    /* Lower Chun-Li for mobile */
    .chun-li {
        margin-top: 50px; /* Adjust top margin for mobile */
    }
    .start{
        color: red;
    }

    /* Lower Ken for mobile */
    .ken {
        margin-top: 50px; /* Adjust top margin for mobile */
    }
}


/* Add your other styles here */
